<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="用户登录系统管理套件">
    <test name="UserSystem">
        <classes>
            <class name = "com.course.cases.LoginTest">
                <methods>
                    <include name="BeforeTest"/>
                    <include name="loginTrue"/>
                </methods>
            </class>

            <class name="com.course.cases.AddUserTest">
                <methods>
                    <include name="addUser"/>
                </methods>
            </class>
        </classes>
    </test>

    <listeners>
        <listener class-name="com.course.config.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>